body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(63, 164, 231);
    text-align: center;  
    margin-bottom: 20px;
}
.main-icon{
    width: 500px;
    border-radius: 50%;
}

.section{
    text-align:center;
}

.search-wrapper{
    position: relative;
    background-color: #dddddd;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    height: 40px;
    padding: 5px;
}
.search{
    
    border: none;
    width: 80%;
    /* border-radius: 20px; */
    height: 30px;
    margin-top: 3px;
}
.location{
    position: absolute;
    left: 15px;
    width: 30px;
}
button{
    margin-left: 15px;
}
.main-icon{

}


.main_search{
border:none;
background: none;
}


header img{
    display: block;
    margin:10px auto;
}
